Repository asyncapi/asyncapi-react, pull requests merged in 2021-03, with the labels that each got.

#257 feat: infer names for oneOf schemas and messages
  library/src/containers/Messages/Messages.tsx
  library/src/containers/Messages/Payload.tsx
Labels: enhancement

#264 refactor: switch to parser-js in most places
  library/src/containers/AsyncApi/AsyncApi.tsx
  library/src/containers/Channels/Channel.tsx
  library/src/containers/Channels/Channels.tsx
  library/src/containers/Channels/Operation.tsx
  library/src/containers/Channels/Parameter.tsx
  library/src/containers/Channels/Parameters.tsx
  library/src/containers/Info/Info.tsx
  library/src/containers/Info/License.tsx
  library/src/containers/Messages/Message.tsx
  library/src/containers/Messages/Messages.tsx
  library/src/containers/Messages/Payload.tsx
  library/src/containers/Schemas/Schemas.tsx
  library/src/containers/Servers/Flow.tsx
  library/src/containers/Servers/Flows.tsx
  library/src/containers/Servers/Security.tsx
  library/src/containers/Servers/SecurityItem.tsx
  library/src/containers/Servers/Server.tsx
  library/src/containers/Servers/Servers.tsx
  library/src/containers/Servers/Variables.tsx
  library/src/helpers/parser.ts
  library/src/store/index.ts
  library/src/store/useSpec.ts
  library/src/types.ts
Labels: area/library, enhancement

#269 refactor: rewrite Schema component
  library/src/components/Chevron.tsx
  library/src/components/Markdown.tsx
  library/src/components/index.ts
  library/src/containers/AsyncApi/AsyncApi.tsx
  library/src/containers/Schemas/NewSchema.tsx
  library/src/containers/Schemas/Schema.tsx
  library/src/containers/Schemas/Schemas.tsx
  library/src/helpers/index.ts
  library/src/helpers/schema.ts
  library/src/styles/fiori.css
  playground/public/index.html
  playground/src/specs/dummy.ts
  playground/src/specs/index.ts
  playground/src/specs/streetlights.ts
Labels: area/library, enhancement

#270 feat: ability to change the size of the split panes
  package-lock.json
  package.json
  playground/src/Playground.tsx
  playground/src/components/SplitWrapper.tsx
  playground/src/components/index.ts
  playground/src/components/styled.ts
  playground/src/react-app-env.d.ts
Labels: area/playground, enhancement

#277 refactor: rewritten Info component
  library/src/components/Href.tsx
  library/src/components/Markdown.tsx
  library/src/containers/AsyncApi/AsyncApi.tsx
  library/src/containers/Info/Contact.tsx
  library/src/containers/Info/License.tsx
  library/src/containers/Info/NewInfo.tsx
  playground/public/index.html
Labels: area/library, enhancement

#276 refactor: unify Messages and Operations components
  library/src/components/Markdown.tsx
  library/src/components/Tag.tsx
  library/src/components/Tags.tsx
  library/src/components/index.ts
  library/src/containers/AsyncApi/AsyncApi.tsx
  library/src/containers/Channels/NewOperation.tsx
  library/src/containers/Channels/NewOperations.tsx
  library/src/containers/Messages/Messages.tsx
  library/src/containers/Messages/NewMessage.tsx
  library/src/containers/Messages/NewMessages.tsx
  library/src/containers/Schemas/NewSchema.tsx
  library/src/containers/Schemas/Schemas.tsx
  library/src/helpers/schema.ts
  playground/src/specs/streetlights.ts
Labels: area/library, enhancement

#280 refactor: unify bindings and extensions
  library/src/containers/Bindings/Bindings.tsx
  library/src/containers/Channels/NewOperation.tsx
  library/src/containers/Extensions/Extensions.tsx
  library/src/containers/Messages/NewMessage.tsx
  library/src/containers/Schemas/NewSchema.tsx
  library/src/containers/Servers/Server.tsx
  library/src/helpers/schema.ts
  playground/src/Playground.tsx
  playground/src/specs/streetlights.ts
Labels: area/library, enhancement

#285 refactor: remove leftover code
  library/package-lock.json
  library/package.json
  library/src/components/Tree.tsx
  library/src/components/index.ts
  library/src/constants.ts
  library/src/containers/AsyncApi/AsyncApi.tsx
  library/src/containers/Bindings/Bindings.tsx
  library/src/containers/Channels/Channel.tsx
  library/src/containers/Channels/Channels.tsx
  library/src/containers/Channels/NewOperation.tsx
  library/src/containers/Channels/Operation.tsx
  library/src/containers/Channels/Operations.tsx
  library/src/containers/Channels/Parameter.tsx
  library/src/containers/Channels/Parameters.tsx
  library/src/containers/Extensions/Extensions.tsx
  library/src/containers/Messages/Message.tsx
  library/src/containers/Messages/Messages.tsx
  library/src/containers/Messages/NewMessage.tsx
  library/src/containers/Messages/NewMessages.tsx
  library/src/containers/Messages/Payload.tsx
  library/src/containers/Schemas/NewSchema.tsx
  library/src/containers/Schemas/Schema.tsx
  library/src/containers/Schemas/SchemaExample.tsx
  library/src/containers/Schemas/SchemaProperties.tsx
  library/src/containers/Schemas/Schemas.tsx
  library/src/helpers/__tests__/renderMarkdown.test.tsx
  library/src/helpers/__tests__/searchForNestedObject.test.ts
  library/src/helpers/beautifier.ts
  library/src/helpers/index.ts
  library/src/helpers/parser.ts
  library/src/helpers/renderMarkdown.tsx
  library/src/helpers/searchForNestedObject.ts
  library/src/index.ts
  library/src/types.ts
  playground/package-lock.json
  playground/src/Playground.tsx
  playground/src/specs/streetlights.ts
  playground/tsconfig.json
  web-component/package-lock.json
Labels: area/library
